.todo__search {
		position: relative;
	&-input {
	    width: 95%;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555;
	    background-color: #fff;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	}
	&-button {
		position: absolute;
		top: 0;
		right: 0;
		padding: 7px;
		background: #00C0FF;
		border: 2px solid #6EB5CC;
		border-radius: 2px;
		cursor: pointer;
		&:hover {
			background: #238EB3;
			border: 2px solid #238EB3;
		}
	}
}