.control {
    input:checked ~ .control__indicator {
        background: #3BA910;
        &:after {
            display: block;
        }
    }

    &:hover input:not([disabled]):checked ~ .control__indicator,
    input:checked:focus ~ .control__indicator {
        background: #3BA910;
    }

    &--checkbox {
        .control__indicator:after {
            left: 8px;
            top: 4px;
            width: 3px;
            height: 8px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        input:disabled ~ .control__indicator:after {
            border-color: #7b7b7b;
        }
    }
}



